:root{

  --primary:#111111;
  --secondary:#ffffff;

  --accent:#27B8F5;

  --light:#F8F8F8;

  --gray:#777777;

  --border:#E5E5E5;

  --container:1400px;

  --transition:.35s ease;

  --shadow:0 15px 40px rgba(0,0,0,.08);

}